/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  flex-wrap: nowrap;
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: nowrap;

}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.8s;
  white-space: nowrap;
}

.nav__link:hover {
  font-weight: 700;
  text-decoration: underline;
}

.btn-agendar {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  flex-shrink: 0;
  white-space: nowrap;
}

.btn-agendar:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

/* HERO */
.hero {
  background: url("assets/bkg.png") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.hero__content {
  width: 100%;
  padding: 20px;
  color: #fff;
}

.hero__grafite {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.hero__slogan {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000;
}

.hero__sub-slogan {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero__horario {
  display: flex;
  font-size: 18px;
  flex-direction: column;
}

.botao-agendar {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  flex-shrink: 0;
  white-space: nowrap;
}

.botao-agendar:hover {
  background: black;
  color: #fff;
  border: 2px solid #fff;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header__nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .nav__links {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .btn-agendar {
    padding: 8px 16px;
    font-size: 14px;
  }

  .hero__grafite {
    max-width: 90%;
  }

  .hero__slogan {
    font-size: 22px;
  }

  .hero__sub-slogan {
    font-size: 18px;
  }

  .hero__horario {
    font-size: 16px;
  }
}
